body{
	font-family:sans-serif;
	font-size:100.1%;
	color:#333;
}
@font-face {
  font-family: "AvenirLTStd-Black";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/AvenirLTStd-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirLTStd-Black.woff") format("woff"), url("../fonts/AvenirLTStd-Black.ttf") format("truetype");
}

@font-face {
  font-family: "AvenirLTStd-Heavy";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/AvenirLTStd-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirLTStd-Heavy.woff") format("woff"), url("../fonts/AvenirLTStd-Heavy.ttf") format("truetype");
}

*{
	box-sizing:border-box;
}

a:focus,
button:focus{
	outline:2px solid #933C53;
}
:root{
	--theme:#28468E;
	--theme-alt:#4B437B;
	
	--red-1 : #DB352A;
	--red-2 : #B63840;	
	--purple-1 : #933C53;		
	--purple-2 : #723F65;		
	--blue-1 : #4B437B;		
	--blue-2 : #28468E;	
	--grey : #D5D5CF;				
	--grey-2 :#E7E7E3;				
}

.main-header{
 background: #2868C9 none repeat scroll 0% 0%;
 margin-bottom:15px;

}
@media screen and (max-width:60em){
	.main-header{
		padding-bottom:10px;
	}
}
#wrapper, 
.inside{
	width:98%;
	margin:auto;
}

@media screen and (min-width:60em){
	#wrapper,
	.inside{
		width:80%;
		max-width:1200px;
		margin:auto;
	}
}
main,footer{
	background:#F5F5F5;
}

main{
	padding:1em;
}

blockquote{
	font-style:italic;
}

blockquote:before { content: open-quote }
blockquote:after  { content: close-quote }

kbd,code{
	border:1px solid #ddd;
	padding:0 3px;
	border-radius:3px;
	background:#fafafa;
}

body{
	color: #333;
	margin:0;
	padding:0;
}
a {
    color: #2868C9;
}

a:hover,a:focus{
	text-decoration:none
}

img{
	max-width:100%;
}

main img{
	box-shadow:0 0 3px #aaa;
	border:5px solid #fff;
}

main img.inline-img{
	box-shadow:none;
	border:none;
}



header{
	padding-top:1em;
}
header p{
	margin:0;
	font-size:0.9em;
	color:#fff
}

h1, h2, h3, h4, h5, h6, p {
    font-weight: normal;
}


h1 {
  color: #fff;
  font-size: 277%;
  font-family: AvenirLTStd-Heavy;
  text-transform: uppercase;
  margin:0;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
}

h1.fiche-title{
	color:#2868C9;
  text-transform: initial;
  font-size: 150%;
  padding-bottom:0;
  padding-top:1em;
}

h2 {
  text-transform: uppercase;
  font-size: 114%;
  font-family: AvenirLTStd-Black;
  margin: 35px 0px;
  text-align: center;
}

.resume h2{
  margin: 0 0 15px 0;
  color:#B63840;
  text-align:left;
  font-size: 120%;
}
h3 {
  text-transform: uppercase;
  font-size: 100%;
  font-family: AvenirLTStd-Black;
  margin: 35px 0px 20px;
  border-top:1px solid #999;
  padding-top:15px
}

h4 {
    padding: 0;
    font-family: AvenirLTStd-Black;
    font-size: 100%;
    text-transform: none;
}
h5 {
    padding: 15px 0px 10px 0;
    font-family: AvenirLTStd-Black;
    font-size: 100%;
    text-transform: none;
}

h2 code,
h2 kbd,
h3 code,
h3 kbd{
	text-transform:initial;
}

main p, main li {
	font-size: 0.9em;
}

main li p{
	font-size:1em;
	line-height:1.2em;
}

main p{

	line-height: 1.9em;
}
main ul{
	padding-left:0.5em;
}
main ul li::before {
  content: "•";
  position: absolute;
  left: 0px;
  top: 5px;
  color: #2868C9;
  font-size: 2em;
  line-height: 0.3em;
}

main ul li {
	list-style:none;
  margin-bottom: 5px;
  padding-left: 1.3em;
  position: relative;
}
.note{
	margin:auto;
	background:#fafafa;
	border-radius:5px;
	padding:0 20px 20px 20px;
	color:#000;
	font-size:80%;
}

.note h3{
	color:#DE1B3E;
	text-transform:uppercase;
	font-size:90%;
}

.note p{
	padding:auto 0;
}

.internav{
	margin:0 0 10px 0;
	padding:0
}

.internav ul{
	padding:0;
	margin:0;
}

.internav li{
	list-style:none;
}

.internav a{
	text-decoration:none;
	background:#2868C9;
	color:#fff;
	padding:2px 5px;
	font-size:0.80em;
	border-radius:3px;
	border:1px solid #2664C0
}

.internav a:hover,
.internav a:focus{
	background:#2355A1
}


@media screen and (min-width:40em){
	.internav .next{
		float:right
	}
	.internav .prev{
		float:left
	}
}

@media screen and (max-width:40em){
.internav a{
	display:block;
	padding:15px;
	margin-bottom:5px;
}
	.internav .next{
		text-align:right
	}
	.internav .prev{
		text-align:left
	}
}

.nav-context{
	padding:0
}
.nav-context li:before{
	display:none
}

.nav-context li{
	padding:0
}



.bloc-haut:after{
	content:"";
	clear:both;
	display:block;
}

.resume{
	background:transparent;
	border:0;
	padding:0
}

@media screen and (min-width:60em){
	.resume{
		float:left;
		width:55%;
		margin-top:0;
		margin-bottom:2em;
		border-left:1px solid #B63840;
		padding-left:1em;
	}
	.nav-context{
		width:45%;
		float:left;
	}
}

.article{
	margin-bottom:2em;
	padding:1em;
	background:#fff;
}

.article:after{
	content:'';
	display:block;
	clear:both;
}

.skip-links{
	position: absolute;
	padding: 0px;
	margin: 0px;
	
}

.skip-links li{
	list-style: outside none none;
	float: left;
	margin-right: 5px;
}

.skip-links li a {
  display: block;
  background: #F2F2F2 none repeat scroll 0% 0%;
  color: #014F8F;
  font-size: 70%;
  font-weight: bold;
  text-decoration: none;
  padding: 0px 5px;
}

.skip-links  a:hover,
.skip-links  a:focus {
	background: #fff;
}

.github-link a {
  display: block;
  background: #FFF none repeat scroll 0% 0%;
  color: #000;
  text-align: center;
  text-decoration: none;
  padding: 5px 15px;
  font-size: 0.75em;
  font-weight: bold;
  box-shadow: 0px 0px 5px #333;		border-radius:5px;
	margin-bottom:10px;
}
.github-link a[href*="github.com"]::before {
    content: url("github.svg");
    display: inline-block;
    width: 2em;
}

.github-link a[href*=".pdf"]::before {

    content: url("download.svg");
    display: inline-block;
    width: 2em;

}

@media screen and (min-width:50em){
	.github-link {
		  position: absolute;
		  right: 0px;
		  top: 5em;
	}
	.github-link p {
  	margin: 0px;
	}
	.github-link a{
		width:100%;
		margin-right:0;
		display:block;
		margin-bottom:10px;
	}
	.github-link a {
		border-radius: 5px 0px 0px 5px;
	}
	.github-link a:last-child {
		border-radius: 5px 0px 0px 5px;
	}
}

@media screen and (min-width:60em){
	.github-link {
		  top: 0px;
	}
	.github-link a {
		border-radius: 0px 0px 0px 5px;
	}
	.github-link a:last-child {
		border-radius: 5px 0px 0px 5px;
	}
}

.github-link a:hover,
.github-link a:focus {
    background: #F5F5F5;
}


.clear:after{
	content:"";
	display:block;
	clear:both;
}

@media screen and (min-width:50em){
.col-1-2{
	width:50%;
	float:left;
}
	.col-1-2:first-child{
		padding-right:3%;
	}
	.col-1-2:last-child{
		padding-left:3%;
	}
}

.col-1-2 h2{
	text-align:left;
	margin:0;
	padding:0;
  color: #DE1B3E;
  font-size: 108%;
  font-family: AvenirLTStd-Black;
 }

aside{
	background:#fafafa;
	margin-top:2em;
	padding:2em;
	border:1px solid #ddd
}

#footer-block{
	font-size:0.8em;
}

table{
	margin:auto;
	font-size:90%;
	border-collapse:collapse;
}

td,th{
	border-collapse:collapse;
}

	td:first-child{
		border-right:1px solid #999;
	}

tr{
	background:#eee
}

tr:nth-child(2n){
	background:#ddd
}

td,th{
	padding:10px
}

th{
	background: #666;
	color:#fff;
	font-weight:normal;
}

caption{
	font-weight:bold;
	font-style:italic;
	font-size:70%;
}

footer{
	clear:both;
	margin-top:5em;
	padding:1em 2em;
	font-size:95%;
}

footer h2{
	color:#000;
	font-size:100%;
	text-align:left;
}

footer p{
	float:left;
	width:80%;
}

footer p.logo-smgap{
	width:150px;
}

.gp-sommaire{
	padding-bottom:0.5em;
}

#btnSommaire{
	cursor:pointer;
	color:#2868C9;
	background:#fff;
	border-radius:0;
	padding:10px;
	text-transform:uppercase;
	font-weight:bold;
	border:0;
}

#btnSommaire:hover,
#btnSommaire:focus{
	background:#f2f2f2;
}

#btnSommaire:before{
	content:"▼ ";
}

#btnSommaire.open:before{
	content:"▲ ";
}

.sommaire{
	background:#fff;
	padding:0;
	font-size:0.85em;
	margin:0;
}

.sommaire li{
	list-style:none;
}

.sommaire li a{
	padding:3px 20px;
	display:block;
	text-decoration:none;
	border-bottom:1px solid #2868C9;
}

.sommaire li:last-child a{
	border-bottom:none;
}

.sommaire li a:hover,
.sommaire li a:focus,
a.pdfdown:hover,
a.pdfdown:focus{
	background:#f2f2f2;
}

.sommaire.is-hidden{
	display:none;
}

.astuce strong,
.important strong{
	color:#B63840
}

.astuce:before{
	content:"";
	display:inline-block;
	width:24px;
	height:31px;
	background:url('lightbulb-o.svg') no-repeat center left;
	position:relative;
	top:5px
}

.important:before{
	content:"";
	display:inline-block;
	width:24px;
	height:31px;
	background:url('exclamation-triangle.svg') no-repeat center left;
	position:relative;
	top:5px
}

.forbidden:before{
	content:"";
	display:inline-block;
	width: 25px;
	height: 19px;
	background:url('forbidden.svg') no-repeat center left;
	position:relative;
	top:5px
}
