
:root{
	--theme:#28468E;
	--theme-alt:#4B437B;

	--red-1 : #DB352A;
	--red-2 : #B63840;
	--purple-1 : #933C53;
	--purple-2 : #723F65;
	--blue-1 : #4B437B;
	--blue-2 : #28468E;
	--grey : #D5D5CF;
	--grey-2 :#E7E7E3;
}

.label{
	display:inline-block;
	margin:0;
	padding:0
}

article .clear{
	padding-bottom:0.5em;
	padding-top:1em;
	padding-right:0.5em;
	margin-bottom:1em;
}
