:root{
	--theme:#28468E;
	--theme-alt:#4B437B;

	--red-1 : #DB352A;
	--red-2 : #B63840;
	--purple-1 : #933C53;
	--purple-2 : #723F65;
	--blue-1 : #4B437B;
	--blue-2 : #28468E;
	--grey : #D5D5CF;
	--grey-2 :#E7E7E3;
}




[class*="str-liens"],
[class*="str-liens"] li{
	padding:0;
	margin:0;
}

[class*="str-liens"] li:before{
	content:"";
}

[class*="str-liens"] a{
	background:#ddd;
	color:#000;
	padding:2px;
	font-size:0.9em;
	text-decoration:none;
}

.str-liens-2 a:hover,
.str-liens-2 a:focus{

}

.str-liens-2 li{
	display:inline-block;
	margin-right:5px;
}

.str-liens-1 a{
	position:absolute;
	top:-10000px;
}

.str-liens-1 a:focus{
	top:0;
}


.str-liens-3 a{
	display:none;
}

.str-liens-1 a:focus{
	display:block;
}

/**collection de pages**/

.nav-collection{
	padding:0;
}

.nav-collection li{
	list-style:none;
	float:left;
	margin:0;
	padding:0;
}

.nav-collection li:before{
	display:none;
}

.nav-collection a{
	display:block;
	background:var(--blue-2);
	color:white;
	text-decoration:none;
	padding:5px 8px;
	border-color:1px solid #fff;
	margin-right:5px;
	border-radius:4px;
}

.nav-collection a:hover,
.nav-collection a:focus,
.nav-collection input[type="submit"]:hover,
.nav-collection input[type="submit"]:focus{
	background:var(--blue-1);
}

.nav-collection a.active{
	background:var(--red-1);
}

.nav-collection input[type="text"]{
	width:3em;
	float:left;
	min-height:30px;
	border:1px solid var(--purple-2);
	border-right:0;
}

.nav-collection input[type="submit"]{
	float:left;
	min-height:30px;
	border:0;
	background:var(--purple-2);
	border:1px solid var(--purple-2);
	border-radius:0 4px 4px 0;
	color:#fff;
	cursor:pointer;
}

/**page active**/

.nav-principale ul{
	padding:0
}

.nav-principale li{
	padding:0;
	float:left;
}

.nav-principale li:before{
	display:none;
}

.nav-principale li a{
	text-decoration:none;
	background:var(--purple-1);
	color:#fff;
	padding:10px 15px;
	margin-right:5px;
	border-radius:4px;
}


.nav-principale li a.active{
	background:var(--blue-2);
	text-decoration:underline
}

.nav-principale li a.active2{
	background:var(--blue-2);
}
.nav-principale li a:hover,
.nav-principale li a:focus{
	background:var(--purple-2);
}
